<!doctype html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<title><%= @title %></title>
	</head>
	<body>
		<header>
			<!-- Fixed navbar -->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<a class="navbar-brand" href="#">Cool Blog navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="\">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="new">Create Post</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<br><br><br>
		<main role="main" class="container">
			<h1>post created successfully</h1>
			<div class="card text-white bg-dark mb-3">
				<div class="card-header">
					<h2><%= params[:title] %></h2>
				</div>
				<div class="card-body">
					<p class="card-text">
						<p><%= params[:body] %></p>
					</p>
				</div>
			</div>
		</main>

	</body>
</html>